In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("employeeDataset.csv")

In [5]:
df.head()

,satisfactoryLevel,lastEvaluation,numberOfProjects,avgMonthlyHours,timeSpentCompany,workAccident,left,promotionInLast5Years,dept,salary
0,0.65,0.78,4,160,3,0,0,0,IT,low
1,0.45,0.55,2,130,2,1,1,0,Sales,medium
2,0.75,0.85,5,200,5,0,0,0,Marketing,high
3,0.80,0.90,6,220,6,0,0,0,IT,low
4,0.55,0.60,3,140,2,1,1,0,HR,low

## describing the data

In [6]:
df.describe()

,satisfactoryLevel,lastEvaluation,numberOfProjects,avgMonthlyHours,timeSpentCompany,workAccident,left,promotionInLast5Years
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.0
mean,0.635161,0.725000,3.919355,167.500000,3.758065,0.258065,0.258065,0.0
std,0.121706,0.119696,1.440610,34.149503,1.575275,0.441142,0.441142,0.0
min,0.400000,0.500000,2.000000,110.000000,1.000000,0.000000,0.000000,0.0
25%,0.550000,0.627500,3.000000,141.250000,2.250000,0.000000,0.000000,0.0
50%,0.650000,0.725000,4.000000,165.000000,4.000000,0.000000,0.000000,0.0
75%,0.720000,0.800000,5.000000,190.000000,5.000000,0.750000,0.750000,0.0
max,0.850000,0.950000,7.000000,240.000000,7.000000,1.000000,1.000000,0.0

In [8]:
df.shape

(62, 10)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfactoryLevel      62 non-null     float64
 1   lastEvaluation         62 non-null     float64
 2   numberOfProjects       62 non-null     int64
 3   avgMonthlyHours        62 non-null     int64
 4   timeSpentCompany       62 non-null     int64
 5   workAccident           62 non-null     int64
 6   left                   62 non-null     int64
 7   promotionInLast5Years  62 non-null     int64
 8   dept                   62 non-null     object
 9   salary                 62 non-null     object
dtypes: float64(2), int64(6), object(2)
memory usage: 5.0+ KB

## Data Preprocessing

In [10]:
df.isnull().sum()

satisfactoryLevel        0
lastEvaluation           0
numberOfProjects         0
avgMonthlyHours          0
timeSpentCompany         0
workAccident             0
left                     0
promotionInLast5Years    0
dept                     0
salary                   0
dtype: int64